body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#increment-btn {
  background: darkred;
  margin-bottom: 10px;
}

#save-btn {
  background: darkgreen;
  margin-top: 10px;
  margin-bottom: 10px;
}

#save-el {
  font-size: 22px;
}
